body {
	font-family: 'Titillium Web', sans-serif;
	background: linear-gradient(135deg, #192632, #080c0f);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	font-family: 'Titillium Web', sans-serif;
}
h1 {
	margin-bottom: 30px;
}
h2 {
	margin-bottom: 20px;
}
button {
	font-size: 1.2rem;
	background-color: #0D7FA5;
}

/**
 * Svelte Toast 
 * Need to do some Pico CSS overrides
 */
 ._toastItem progress {
	border-radius: 0;
	margin-bottom: 0;
 }
 ._toastBtn {
	padding: 0;
	border: none;
	margin: 0;
	background-color: transparent
 }
